{cover_enabled, true}.
{eunit_opts, [verbose]}.
{erl_opts, [warnings_as_errors]}.
{deps, [
        {epgsql,  ".*", {git, "git://github.com/wg/epgsql.git", "master"}},
        {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", "master"}}
       ]}.
{edoc_opts, [{stylesheet_file, "./priv/edoc.css"}]}.
